onix_requeue:
  read:
    queue_name: Ingestion.OnixFileChange.DLQ
    options:
      :durable: true
  write:
    exchange_name: Ingestion.OnixFileChange
    type: fanout
    options:
      :durable: true
cover_requeue:
  read:
    queue_name: Ingestion.CoverFileChange.DLQ
    options:
      :durable: true
  write:
    exchange_name: Ingestion.CoverFileChange
    type: fanout
    options:
      :durable: true